extends layout

block content
	section
		.winner
			h1 溫
			.img-box
				img(src='/img/crown.png')
			.num-box
				span.number 50
		.loser
			h1 魯
			.img-box
				img(src='/img/snake.png')
			.num-box
				span.number 50
		.door-text(data-content='門')
		.banner(data-content='魯門的世界 Loo Door\'s World')
		.bg-banner
	section
		.block
			.num-box
				span.number 20
		.block
			.num-box
				span.number 20
		.block
			.num-box
				span.number 20
		.block
			.num-box
				span.number 20
		.block
			.num-box
				span.number 20
	.ad-box
