doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/tv.css')
	body
		block content
		script(src='/components/jquery/dist/jquery.min.js')
		script(src='/components/jquery-animateNumber/jquery.animateNumber.min.js')
		script(src='/components/moment/min/moment.min.js')
		script(src='/js/index.js')
