function Player.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
call Game.getPlayerLastX 0
pop static 0
call Game.getPlayerLastY 0
pop static 1
push constant 18
pop static 2
push constant 1
pop this 0
call Game.getPlayerLastHp 0
pop static 4
push constant 0
pop this 1
push constant 8
pop static 3
push pointer 0
call Player.draw 1
pop temp 0
push pointer 0
return
function Player.run 0
push argument 0
pop pointer 0
push pointer 0
call Player.isOnBricks 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push static 0
push static 1
push static 2
push this 0
call Bricks.getBricksY 4
call Player.setOnBricks 2
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
call Player.drop 1
pop temp 0
label IF_END0
push pointer 0
push this 1
call Player.move 2
pop temp 0
push static 4
push constant 0
gt
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Stage1.setExit 0
pop temp 0
call Game.setExit 0
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Player.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Player.erase 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push static 0
push constant 9
add
push static 1
push constant 6
add
push constant 6
call Screen.drawCircle 3
pop temp 0
push static 0
push constant 9
add
push static 1
push constant 12
add
push static 0
push constant 9
add
push static 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push static 0
push static 1
push constant 6
add
push static 0
push constant 9
add
push static 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push static 0
push constant 18
add
push static 1
push constant 6
add
push static 0
push constant 9
add
push static 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push static 0
push constant 9
add
push static 1
push constant 15
add
push static 0
push constant 5
add
push static 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push static 0
push constant 9
add
push static 1
push constant 15
add
push static 0
push constant 14
add
push static 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Player.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push static 0
push constant 9
add
push static 1
push constant 6
add
push constant 6
call Screen.drawCircle 3
pop temp 0
push static 0
push constant 9
add
push static 1
push constant 12
add
push static 0
push constant 9
add
push static 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push static 0
push static 1
push constant 6
add
push static 0
push constant 9
add
push static 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push static 0
push constant 18
add
push static 1
push constant 6
add
push static 0
push constant 9
add
push static 1
push constant 15
add
call Screen.drawLine 4
pop temp 0
push static 0
push constant 9
add
push static 1
push constant 15
add
push static 0
push constant 5
add
push static 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push static 0
push constant 9
add
push static 1
push constant 15
add
push static 0
push constant 14
add
push static 1
push constant 18
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Player.isOnBricks 0
push argument 0
pop pointer 0
push static 0
push static 1
push static 2
push this 0
call Bricks.isOnBricks 4
return
function Player.setOnBricks 0
push argument 0
pop pointer 0
push pointer 0
call Player.erase 1
pop temp 0
push argument 1
push static 2
sub
call Bricks.getSpeed 0
sub
pop static 1
push pointer 0
call Player.draw 1
pop temp 0
push constant 1
pop this 0
push constant 0
return
function Player.drop 0
push argument 0
pop pointer 0
push pointer 0
call Player.erase 1
pop temp 0
push static 1
push static 2
add
push this 0
add
push constant 256
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 1
push this 0
add
pop static 1
push pointer 0
call Player.draw 1
pop temp 0
push this 0
push constant 2
add
pop this 0
goto IF_END0
label IF_FALSE0
call Stage1.setExit 0
pop temp 0
call Game.setExit 0
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
label IF_END0
push constant 0
return
function Player.setDir 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Player.move 0
push argument 0
pop pointer 0
push static 5
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Player.moveLeft 1
pop temp 0
label IF_FALSE1
push argument 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Player.moveRight 1
pop temp 0
label IF_FALSE2
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Player.moveRight 1
pop temp 0
label IF_FALSE3
push argument 1
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Player.moveLeft 1
pop temp 0
label IF_FALSE4
label IF_END0
push constant 0
return
function Player.moveLeft 0
push argument 0
pop pointer 0
push static 0
push static 3
sub
push constant 0
lt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.erase 1
pop temp 0
push static 0
push static 3
sub
pop static 0
push pointer 0
call Player.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.moveRight 0
push argument 0
pop pointer 0
push static 0
push static 2
add
push static 3
add
call Interface.getRightBound 0
gt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.erase 1
pop temp 0
push static 0
push static 3
add
pop static 0
push pointer 0
call Player.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.getX 0
push static 0
return
function Player.getY 0
push static 1
return
function Player.getSize 0
push static 2
return
function Player.getHp 0
push static 4
return
function Player.hpReduce 0
push static 4
push constant 10
sub
pop static 4
push constant 0
return
function Player.hpReduceByBrick 0
push static 4
push constant 40
sub
pop static 4
push constant 0
return
function Player.hpIncrease 0
push static 4
push constant 10
add
push constant 100
gt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 4
push constant 10
add
pop static 4
label IF_FALSE0
push constant 0
return
function Player.setSmallPixel 0
push constant 8
push constant 3
sub
pop static 3
push constant 0
return
function Player.resetPixel 0
push constant 8
pop static 3
push constant 0
return
function Player.setReverse 0
push constant 1
pop static 5
push constant 0
return
function Player.resetReverse 0
push constant 0
pop static 5
push constant 0
return
