extends layout

block content
	script.
		function detect(){
			$.get('/detectstart',function(data){
				if(data.result == 1)
					window.location='/questions';
			});
		}
		//setInterval(detect, 1000);
		
	.index_bg
		.start
			p 歡迎來到溫魯檢測站
			//-p 將手掌放置於測謊平台後，測驗自動開始
			a(href='/questions') 開始
