extends layout

block content
	link(rel='stylesheet', href='/css/share.css')
	div
		img#sharebg(src='/img/web_bg/share_bg.jpg' alt="sharebg")
		img#composite(src='/img/composite.png' alt="composite")
	#fbmessage
		textarea(wrap="hard" placeholder='輸入照片敘述...')
		a 確定
	.sharebtns
		a.button(href="javascript:;" onclick="checkLoginState()") Fb登入並上傳照片
		a.button.qrcodebutton(href="javascript:;" onclick="makeqrcode()") QR-code下載照片
			#whitebg
				img.qrcode
		a.button.end(href="javascript:;" onclick="restart()") 結束
	script(src='/js/sharephoto.js')
	script(src='/js/button.js')
