block content
	script(src='/js/jquery.js')
	script(src='/js/bootstrap.min.js')
	script(src='//code.jquery.com/jquery-1.10.2.js')
	script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
	script(src="https://code.highcharts.com/highcharts.js")
	script(src="js/tv.js")
	link(rel='stylesheet', href='/css/tv.css')

	#tv_container 
		#title
			h1 魯門的世界
		#left_title
			h3 溫魯比例 
			p 溫 
			p#win_ratio
			br
			p 魯 
			p#loo_ratio
		#pie 


	

